*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: sans-serif;
    background:#f5f5f5;
}

header{
    background:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#ff5a5f;
}

.menu a{
    text-decoration:none;
    color:black;
    margin-left:20px;
}

.search-area{
    width:81%;
    margin:30px auto;
}

.search-area input{
    width:100%;
    padding:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

.banner{
    width:80%;
    margin:20px auto;
    background:#222;
    color:white;
    text-align:center;
    padding:60px;
    border-radius:10px;
}

.product-list{
    width:80%;
    margin:30px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    transition:0.2s;
}

.card:hover{
    transform: scale(1.02);
}

.image{
    height:220px;
    background:#ddd;
}

.card-body{
    padding:15px;
}

.price{
    color:red;
    font-weight:bold;
}